body {
    margin: 0;
    background-color: #1C1C1C;
    font-family: 'Inter';
}

.container {
    background-color: #1F2937;
    width: 50%;
    margin: auto;
    padding: 100px 50px 50px 50px;

}

h1 {
    color: #eeeeee;
    font-size: 50px;
    line-height: 42px;
}

span {
    color: #4ADF86;

}

p {

    color: #D5D4D8;
    line-height: 0em;
    font-size: 20px;
}

#generate_btn {
    background-color: #10B981;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr {
    border: 1px solid #2F3E53;
}

.boxes_container {
    display: inline-flex;
}

#password_box1, #password_box2 {
    background-color: #273549;
    border-radius: 10px;
    padding: 5px 15px;
    min-width: 250px;
    min-height: 30px;
    color: #55F991;
    word-wrap:break-word;
    justify-content: center;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}


#copy_1, #copy_2 {
    border-radius: 10px;
    max-height: 50px;
    padding: 10px 15px;
    border: none;
    margin: 20px;
}